.date-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30vh;
  position: relative;
  padding: 20px;
}

.header {
  text-align: center;
}

.content {
  flex-grow: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  text-align: left;
}

.back-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}

.back-button:hover {
  background-color: #0056b3;
}

.date-container h1 {
  margin: 0;
  font-size: 2em;
}

.date-container p {
  font-size: 1.5em;
}
