.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
  max-width: 500px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
