<mat-card style="position: absolute; right:-340px; top:40px;" [style.height]="'300px'" [style.width]="'300px'">

    <mat-card-header>
      <mat-card-title style="font-family: serif font; font-style: Plathorn Extended;">Todays Expense</mat-card-title>
    </mat-card-header>
    <br>
    <mat-card-content>
      <div >
        <p style="font-family: Helvetica; font-weight: bold;">{{ currentDate | date:'fullDate' }}</p>
      </div>
      <div>
        <div *ngFor="let mainExpense of mainExpenseKeys">
          <h3><strong><u>{{ mainExpense }}</u></strong></h3>
          <div *ngFor="let sub of groupedExpenses[mainExpense]">
            {{ sub.sub_expense }} - {{ sub.sub_expense_amount }}
          </div>
          <br>
          <br>
        </div>
      </div>
    </mat-card-content>
  </mat-card>