<div class="flow-chart">
  <!-- Monthly Income Input -->
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Enter Monthly Income</mat-label>
      <input matInput [(ngModel)]="monthlyIncome" type="number" placeholder="Monthly Income">
    </mat-form-field>
  </div>
  <p>
    Total Remaining Income: 
    <span [ngStyle]="{'color': calculateRemainingIncome() < 0 ? 'red' : 'black'}">
      {{ calculateRemainingIncome() | currency : "INR" }}
    </span>
  </p>
  <div class="top-right">
    <button mat-raised-button color="primary" (click)="saveData()">Save</button>
  </div>
  <br>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Enter main expense</mat-label>
      <input matInput [(ngModel)]="inputData">
    </mat-form-field>
    &nbsp;
    <button mat-raised-button [disabled]="!inputData" color="primary" (click)="addMainExpense()">Add</button>
  </div>
  
  <div *ngFor="let node of dataTree; let i = index" class="node">
    <div *ngIf="editingNode === node; else viewMode">
      <mat-form-field appearance="fill">
        <input matInput [(ngModel)]="editedData" placeholder="Edit Main Expense">
      </mat-form-field>
      <button mat-button color="primary" (click)="saveEditedExpense(node)">Save</button>
      <button mat-button (click)="cancelEdit()">Cancel</button>
    </div>
    <ng-template #viewMode>
      {{ node.data }} = {{ calculateSubExpenseTotal(node) }}
      <span class="icons">
        <button mat-icon-button color="primary" (click)="editMainExpense(node)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="removeMainExpense(i)">
          <mat-icon>delete</mat-icon>
        </button>
        <span class="add-sub-expense" (click)="addSubExpense(node)">
          <i class="fa fa-plus-circle"></i>
        </span>
      </span>
    </ng-template>
    <div *ngFor="let branch of node.branches" class="branch">
      <a href="javascript:void(0)" (click)="editSubExpense(branch)">
        {{ branch.data }} <span *ngIf="branch.date"> - {{ branch.date | date:'mediumDate' }}</span>
      </a>
      <button mat-icon-button color="warn" (click)="removeSubExpense(node, branch)">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
</div>

<!-- Modal for adding/editing sub-expense -->
<app-sub-expense
  *ngIf="showModal"
  [textInput]="modalTextInput"
  [numberInput]="modalNumberInput"
  [dateInput]="modalDateInput"
  (closeModal)="onCloseModal()"
  (addSubExpense)="onAddSubExpense($event)">
</app-sub-expense>
