.button-group {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  margin-left: 15px; /* Adjust margin for left spacing */
}

.form-group {
  margin-bottom: 20px;
  margin-left: 2px; 
}

.full-width {
  width: 100%;
}

button:focus {
  outline: none; /* Remove outline when button is focused */
  box-shadow: none; /* Remove box-shadow when button is focused */
}

.edit-button {
  margin-right: 5px; /* Reduced margin */
  background-color: white;
  color: black;
  border: 1px solid #ccc;
}

.save-button {
  background-color: green;
  color: white;
}


